web/WEB-INF/wsdl/localhost_8080/RetailProductsAndRawMaterialsPurchasingWebService/RetailProductsAndRawMaterialsPurchasingWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://RetailProductsAndRawMaterialsPurchasing.SCM/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://RetailProductsAndRawMaterialsPurchasing.SCM/">

<xs:element name="getPurchaseOrder" type="tns:getPurchaseOrder"/>

<xs:element name="getPurchaseOrderResponse" type="tns:getPurchaseOrderResponse"/>

<xs:element name="invoice" type="tns:invoice"/>

<xs:element name="invoiceResponse" type="tns:invoiceResponse"/>

<xs:element name="rejectPurchaseOrder" type="tns:rejectPurchaseOrder"/>

<xs:element name="rejectPurchaseOrderResponse" type="tns:rejectPurchaseOrderResponse"/>

<xs:element name="shipPurchaseOrder" type="tns:shipPurchaseOrder"/>

<xs:element name="shipPurchaseOrderResponse" type="tns:shipPurchaseOrderResponse"/>

<xs:complexType name="shipPurchaseOrder">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="purchaseOrderId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shipPurchaseOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invoice">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="purchaseOrderId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invoiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rejectPurchaseOrder">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="purchaseOrderId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rejectPurchaseOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchaseOrder">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchaseOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:purchaseOrderHelper" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseOrderHelper">
<xs:sequence>
<xs:element name="Id" type="xs:long" minOccurs="0"/>
<xs:element name="expectedReceivedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="warehouseName" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="lineItemHelpers" type="tns:lineItemHelper" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lineItemHelper">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>