web/WEB-INF/wsdl/localhost_8080/RetailProductsAndRawMaterialsPurchasingWebService/RetailProductsAndRawMaterialsPurchasingWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://RetailProductsAndRawMaterialsPurchasing.SCM/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://RetailProductsAndRawMaterialsPurchasing.SCM/">

<xs:element name="getPurchaseOrder" type="tns:getPurchaseOrder"/>

<xs:element name="getPurchaseOrderResponse" type="tns:getPurchaseOrderResponse"/>

<xs:element name="invoice" type="tns:invoice"/>

<xs:element name="invoiceResponse" type="tns:invoiceResponse"/>

<xs:element name="rejectPurchaseOrder" type="tns:rejectPurchaseOrder"/>

<xs:element name="rejectPurchaseOrderResponse" type="tns:rejectPurchaseOrderResponse"/>

<xs:complexType name="invoice">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="purchaseOrderId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invoiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rejectPurchaseOrder">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="purchaseOrderId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rejectPurchaseOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchaseOrder">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchaseOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:purchaseOrderHelper" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseOrderHelper">
<xs:sequence>
<xs:element name="Id" type="xs:long" minOccurs="0"/>
<xs:element name="expectedReceivedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="warehouseName" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="lineItemHelpers" type="tns:lineItemHelper" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lineItemHelper">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>