src/conf/xml-resources/web-service-references/RetailProductsAndRawMaterialsPurchasingWebService/wsdl/localhost_8080/RetailProductsAndRawMaterialsPurchasingWebService/RetailProductsAndRawMaterialsPurchasingWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://RetailProductsAndRawMaterialsPurchasing.SCM/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://RetailProductsAndRawMaterialsPurchasing.SCM/" name="RetailProductsAndRawMaterialsPurchasingWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://RetailProductsAndRawMaterialsPurchasing.SCM/" schemaLocation="http://localhost:8080/RetailProductsAndRawMaterialsPurchasingWebService/RetailProductsAndRawMaterialsPurchasingWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="rejectPurchaseOrder">
<part name="parameters" element="tns:rejectPurchaseOrder"/>
</message>
<message name="rejectPurchaseOrderResponse">
<part name="parameters" element="tns:rejectPurchaseOrderResponse"/>
</message>
<message name="invoice">
<part name="parameters" element="tns:invoice"/>
</message>
<message name="invoiceResponse">
<part name="parameters" element="tns:invoiceResponse"/>
</message>
<message name="getPurchaseOrder">
<part name="parameters" element="tns:getPurchaseOrder"/>
</message>
<message name="getPurchaseOrderResponse">
<part name="parameters" element="tns:getPurchaseOrderResponse"/>
</message>
<message name="shipPurchaseOrder">
<part name="parameters" element="tns:shipPurchaseOrder"/>
</message>
<message name="shipPurchaseOrderResponse">
<part name="parameters" element="tns:shipPurchaseOrderResponse"/>
</message>
<portType name="RetailProductsAndRawMaterialsPurchasingWebService">
<operation name="rejectPurchaseOrder">
<input wsam:Action="http://RetailProductsAndRawMaterialsPurchasing.SCM/RetailProductsAndRawMaterialsPurchasingWebService/rejectPurchaseOrderRequest" message="tns:rejectPurchaseOrder"/>
<output wsam:Action="http://RetailProductsAndRawMaterialsPurchasing.SCM/RetailProductsAndRawMaterialsPurchasingWebService/rejectPurchaseOrderResponse" message="tns:rejectPurchaseOrderResponse"/>
</operation>
<operation name="invoice">
<input wsam:Action="http://RetailProductsAndRawMaterialsPurchasing.SCM/RetailProductsAndRawMaterialsPurchasingWebService/invoiceRequest" message="tns:invoice"/>
<output wsam:Action="http://RetailProductsAndRawMaterialsPurchasing.SCM/RetailProductsAndRawMaterialsPurchasingWebService/invoiceResponse" message="tns:invoiceResponse"/>
</operation>
<operation name="getPurchaseOrder">
<input wsam:Action="http://RetailProductsAndRawMaterialsPurchasing.SCM/RetailProductsAndRawMaterialsPurchasingWebService/getPurchaseOrderRequest" message="tns:getPurchaseOrder"/>
<output wsam:Action="http://RetailProductsAndRawMaterialsPurchasing.SCM/RetailProductsAndRawMaterialsPurchasingWebService/getPurchaseOrderResponse" message="tns:getPurchaseOrderResponse"/>
</operation>
<operation name="shipPurchaseOrder">
<input wsam:Action="http://RetailProductsAndRawMaterialsPurchasing.SCM/RetailProductsAndRawMaterialsPurchasingWebService/shipPurchaseOrderRequest" message="tns:shipPurchaseOrder"/>
<output wsam:Action="http://RetailProductsAndRawMaterialsPurchasing.SCM/RetailProductsAndRawMaterialsPurchasingWebService/shipPurchaseOrderResponse" message="tns:shipPurchaseOrderResponse"/>
</operation>
</portType>
<binding name="RetailProductsAndRawMaterialsPurchasingWebServicePortBinding" type="tns:RetailProductsAndRawMaterialsPurchasingWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="rejectPurchaseOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="invoice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPurchaseOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shipPurchaseOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RetailProductsAndRawMaterialsPurchasingWebService">
<port name="RetailProductsAndRawMaterialsPurchasingWebServicePort" binding="tns:RetailProductsAndRawMaterialsPurchasingWebServicePortBinding">
<soap:address location="http://localhost:8080/RetailProductsAndRawMaterialsPurchasingWebService/RetailProductsAndRawMaterialsPurchasingWebService"/>
</port>
</service>
</definitions>